<div class="dialog-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <h2>Add user</h2>
    <mat-dialog-content class="content">
        <!-- First + last name inputs-->
        <div class="input-container">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Enter firstname..." [(ngModel)]="user.firstName" [disabled]="isLoading">
                <mat-icon matSuffix>
                    verified_user
                </mat-icon>
                <!--<mat-hint>Please enter first name</mat-hint>-->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Enter lastname..." [(ngModel)]="user.lastName" [disabled]="isLoading">
                <mat-icon matSuffix>
                    verified_user
                </mat-icon>
                <!-- <mat-hint>Please enter last name</mat-hint>-->
            </mat-form-field>
        </div>
        <!-- Email input -->
        <div> <mat-form-field class="f-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput  placeholder="Enter your e-mail..." [(ngModel)]="user.email" [disabled]="isLoading"><mat-icon matSuffix>
                  mail
                </mat-icon>
               <!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }-->
            </mat-form-field></div>
        <!-- Birthday-input -->
        <div class="">
            <mat-form-field class="f-width">
                <mat-label>Birthday</mat-label>
                <input matInput [matDatepicker]="datepicker" [(ngModel)]="birthDate" [disabled]="isLoading">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel [disabled]="isLoading">Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply
                            [disabled]="isLoading">Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <!-- street input-->
        <div>
            <mat-form-field appearance="outline" class="f-width">
                <mat-label>Street and No.</mat-label>
                <input matInput placeholder="Enter street and number..." [(ngModel)]="user.street"
                    [disabled]="isLoading">
                <mat-icon matSuffix>
                    my_location
                </mat-icon>
                <!--<mat-hint>Please enter first name</mat-hint>-->
            </mat-form-field>
        </div>
        <!-- zip code and city inputs-->
        <div style="display: flex;justify-content: space-between;">
            <mat-form-field appearance="outline">
                <mat-label>Zip code</mat-label>
                <input matInput placeholder="Enter zip code..." [(ngModel)]="user.zipCode" [disabled]="isLoading">
                <mat-icon matSuffix>
                    location_on
                </mat-icon>
                <!--<mat-hint>Please enter zip code</mat-hint>-->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter city..." [(ngModel)]="user.city" [disabled]="isLoading">
                <mat-icon matSuffix>
                    map
                </mat-icon>
                <!-- <mat-hint>Please enter city</mat-hint>-->
            </mat-form-field>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
        <button (click)="onNoClick()">No Thanks</button>
        <button (click)="saveUser()">Save</button>
    </mat-dialog-actions>
</div>