.dialog-container {
    padding: 16px;

    h2 {
        text-align: center;
    }

    mat-input {
        color: white;
        border-color: white;
    }

    mat-dialog-actions {
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        outline: none;

        button {
            font-size: 18px;
            background-color: #010114;
            color: white;
            cursor: pointer;
            padding: 8px;
            border-radius: 8px;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}
