<div class="dialog-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <h2>Add order</h2>
    <mat-dialog-content class="content">
        <!--  Order date inputs  -->
        <div>
            <mat-form-field class="f-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="order.dateOfOrder" min="minDate" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>
        <!--  Order product input -->
        <div>
            <mat-form-field class="f-width">
                <mat-label>Choose product</mat-label>
                <mat-select [(ngModel)]="productSelected" name="productName" required>
                    <mat-option *ngFor="let product of productName" [value]="{
                        name: product.value,
                        price: product.price,
                        currentProductId: product.currentProductId
                      }">
                        {{ product.viewValue }}
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="f-width">
                <mat-label>Amount</mat-label>
                <input type="number" min="1" matInput placeholder="Amount" [disabled]="isLoading"
                    [(ngModel)]="order.amount" required><mat-icon matSuffix>
                    category
                </mat-icon>

            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
        <button (click)="dialogRef.close()">No Thanks</button>
        <button (click)="saveOrder()" [disabled]="!isFormValid()">Save</button>
    </mat-dialog-actions>
</div>