.card-container {
    color: white;
    background-color: #504C4C;
    h2 {
        font-size: 32px;
        font-weight: 500;
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }
}