.card-container {
    color: white;
    background-color: #080848;
    h2 {
        font-size: 32px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        font-weight: 400;
    }
}