$bg-light: rgb(58 57 155);
$bg-dark: rgb(18, 18, 103);

.add-btn {
    position: fixed;
    bottom: 46px;
    right: 46px;
    background-color: rgb(41, 48, 73);
}

.main {
    width: 100%;

    .header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: unset;
        background-color: $bg-light;
        color: white;
        padding: 16px 50px;
        box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.6);
    }

    .headline {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        margin: 0;
    }

    .search-input {
        display: flex;
        align-items: center;
        gap: 15px;

        input {
            padding: 4px;
            outline: none;
            padding: 8px;
            font-size: 15px;
            color: black;
            border-radius: 16px;
            border: none;
        }
    }

    mat-icon {
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter-div {
        width: 100%;
        color: white;
        margin-top: 25px;
        font-size: 18px;

        .filter-buttons {
            display: flex;
            gap: 25px;
            margin-top: 20px;

            button {
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $bg-light;
                color: white;
                border: none;
                border-radius: 6px;
                font-size: 18px;
                cursor: pointer;

                &:hover {
                    background-color: $bg-dark;
                }
            }
        }

    }

    .d-none {
        display: none;
    }

    .sorted {
        background-color: rgb(86, 84, 231) !important;
    }

    .table-card {
        margin-top: 30px;
    }
    

   

    /*********************  Style for product table  *******************/
    mat-card {
        background-color: rgb(23, 41, 115);
        color: white;

        table {
            border-collapse: collapse;
        }

        td {
            height: 50px;


            &:first-child {
                padding-left: 10px;
            }
        }

        th {
            text-align: left;
            margin-bottom: 15px;
            padding-top: 10px;

            &:first-child {
                padding-left: 10px;

            }
        }

        tr {
            border-bottom: 1px solid white;
            cursor: pointer;

            &:first-child {
                cursor: unset;
                padding-bottom: 8px;
                color: rgb(91, 40, 231);
                display: contents;
            }

            &:first-child:hover {
                background-color: rgb(23, 41, 115);
            }

            &:hover {
                background-color: $bg-light;
            }

            &:last-child {
                border-bottom: 0px;
            }
        }

        .edit-btn {
            color: white;
            background-color: rgb(23, 41, 115);
            margin-right: 12px;
        }

        .delete-btn {
            color: rgb(202, 29, 29);
            background-color: rgb(23, 41, 115);
        }
    }

    .overflow-cell {
        max-width: 90px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/**********************************  Responsive design  *******************************/
@media(max-width:700px) {

    .header {
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 10px !important;

        input {
            text-align: center !important;
        }
    }

    .filter-buttons {
        gap: 15px !important;

        button {
            font-size: 13px !important;
        }
    }

    .filter-div {
        font-size: 16px !important;
    }

    .btn-row {
        display: flex !important;
        align-items: center !important;
    }

    .icon {
        height: 25px !important;
        width: 25px !important;
    }

    .overflow-cell {
        padding-left: 8px !important;
    }

    table {
        td {
            font-size: 12px !important;
        }
    }

    .icon-resp {
        display: none !important;
    }

    td {
        button {
            height: 30px !important;
            width: 30px !important;
        }
    }

    @media(max-width:450px) {
        tr {
            &:first-child {
                font-size: 9px;
            }
        }
    }

    @media(max-width:410px){
        .overflow-cell{
            max-width: 55px !important;
        }
    }
}