<div class="dialog-container">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <h2>Delete user</h2>
    <span>Do u really want to delete the user?</span>
    <mat-dialog-content class="content">
        <div class="f-width">
            <mat-dialog-actions>
                <button (click)="dialogRef.close()">No Thanks</button>
                <button (click)="deleteUser()">Delete</button>
            </mat-dialog-actions>
        </div>
    </mat-dialog-content>
</div>