<mat-card>
  <table>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Birth date</th>
      <th>City</th>
    </tr>
 
    <tr *ngFor="let user of usersFromService();let i = index" [routerLink]="['/user/' ,user.id]">
      <td>{{user.data.firstName}} {{user.data.lastName}}</td>
      <td>{{user.data.email}}</td>
      <td>{{user.data.birthDate}}</td>
      <td>{{user.data.city}}</td>
    </tr>
  </table>
</mat-card>
<button mat-fab matTooltip="Add new user" class="add-btn" (click)="openDialog()">
  <mat-icon>person_add</mat-icon>
</button> 
