.add-btn {
    position: absolute;
    bottom: 56px;
    right: 56px;
    background-color: rgb(41, 48, 73);
}

mat-card {
    background-color: rgb(23, 41, 115);
    color: white;
    table {
        border-collapse: collapse;
    }
    td {
        height: 50px;


        &:first-child {
            padding-left: 10px;
        }
    }
    th {
        text-align: left;
        margin-bottom: 15px;
        padding-top: 10px;

        &:first-child {
            padding-left: 10px;
        }
    }
    tr {
        border-bottom: 1px solid white;
        cursor: pointer;

        &:first-child {
            cursor: unset;
        }

        &:first-child:hover {
            background-color: #171769;
        }

        &:hover {
            background-color: #171769;
        }

        &:last-child {
            border-bottom: 0px;
        }
    }
}