/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.f-width {
    width: 100%;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10{
    margin-bottom: 10px;
}

.w-50 {
    width: 50%;
}