<mat-drawer-container class="mat-drawer-container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="isDrawerOpen" [opened]="mobileQuery.matches">
        <div class="headline"><img src="./../assets/img/logo.png"></div>

        <ul>
            <li routerLink="/dashboard" routerLinkActive="active"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
            <li routerLink="/user" routerLinkActive="active"><mat-icon>person</mat-icon>User</li>
            <li routerLink="/products" routerLinkActive="active"><mat-icon>inventory</mat-icon>Products</li>
        </ul>
        <ul style="margin-top: 140px;">
            <li routerLink="/privacy-policy" routerLinkActive="active"><mat-icon>policy</mat-icon>Privacy Policy</li>
            <li routerLink="/imprint" routerLinkActive="active"><mat-icon>info</mat-icon>Imprint</li>
            <li  routerLinkActive="active" (click)="logOut()"><mat-icon>logout</mat-icon>Logout</li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon (click)="toggleDrawer()" class="menu-icon">menu</mat-icon>
  
            </mat-toolbar-row>
        </mat-toolbar>
    </div>   
    <div class="router-div" [class.responsive]="isDrawerOpen && isScreenBelow850"><router-outlet></router-outlet></div>
</mat-drawer-container> 
